<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexMono-Bold.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-SemiBold.ttf</string>
		<string>IBMPlexMono-Thin.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to record breaking moves for your training arsenal.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to select video clips of your breaking moves.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app may use the microphone when recording video clips.</string>
</dict>
</plist>
